Maiden-Hotels - Integration/TIBCO/Maiden_Hotels_Project/ServicesCRUD_SOAP/Messages/ServiceHotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/ServiceHotel.xsd" xmlns:tns="http://xmlns.example.com/1568905611707" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1568905611707">
    <import namespace="http://www.tibco.com/schemas/TIBCO/Maiden_Hotels_Project/Schemas/ServiceHotel.xsd" location="../../Schemas/ServiceHotel.xsd"/>
    <message name="in_Get_All"/>
    <message name="out_Get_All">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="in_Get_ByParam">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="out_Get_ByParam">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="in_Insert">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="out_Insert">
        <part name="StatusServiceHotel" element="ns:StatusServiceHotel"/>
    </message>
    <message name="in_Delete">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="out_Delete">
        <part name="StatusServiceHotel" element="ns:StatusServiceHotel"/>
    </message>
    <message name="in_Update">
        <part name="ServicesHotels" element="ns:ServicesHotels"/>
    </message>
    <message name="out_Update">
        <part name="StatusServiceHotel" element="ns:StatusServiceHotel"/>
    </message>
    <portType name="PortType_ServiceHotel">
        <operation name="Get_All">
            <input message="tns:in_Get_All"/>
            <output message="tns:out_Get_All"/>
        </operation>
        <operation name="Get_ByParam">
            <input message="tns:in_Get_ByParam"/>
            <output message="tns:out_Get_ByParam"/>
        </operation>
        <operation name="Insert">
            <input message="tns:in_Insert"/>
            <output message="tns:out_Insert"/>
        </operation>
        <operation name="Delete">
            <input message="tns:in_Delete"/>
            <output message="tns:out_Delete"/>
        </operation>
        <operation name="Update">
            <input message="tns:in_Update"/>
            <output message="tns:out_Update"/>
        </operation>
    </portType>
</definitions>